<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BombochaGJEsSoap" />
                <binding name="BombochaGJEsSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://frailetoc.com/GAMES/BombochaGJEs/WS/WS/BombochaGJEs.asmx"
                binding="basicHttpBinding" bindingConfiguration="BombochaGJEsSoap"
                contract="ServiceReference1.BombochaGJEsSoap" name="BombochaGJEsSoap" />
            <endpoint address="http://localhost:53620/WS/BombochaGJEs.asmx"
                binding="basicHttpBinding" bindingConfiguration="BombochaGJEsSoap1"
                contract="ServiceReference2.BombochaGJEsSoap" name="BombochaGJEsSoap1" />
        </client>
    </system.serviceModel>
</configuration>
