<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="BombochaGJEsConnectionString" connectionString="Data Source=DIANA\SQLEXPRESS2012;Initial Catalog=BombochaGJEs;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <!--<add name="BombochaGJEsConnectionString" connectionString="Data Source=localhost;Initial Catalog=w1421622_Bombocha;Integrated Security=True"
            providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.0" debug="true"/>
    <globalization culture="es-MX" uiCulture="es-MX"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json"/>
    </staticContent>
  </system.webServer>
</configuration>